.container 
  .top-container
    .top-container__box
      .top-container__box__logo
        = link_to image_tag("/material/logo/logo.png", with: "100", class: 'top__logo'), root_path 
  .login-container
    .login-area
      .login-area__head
        %p.text
          アカウントをお持ちでない方はこちら
          = link_to "新規会員登録", new_user_registration_path, method: :get, class: "registrations__btn"  
      .login-box
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .login-box__content
            .login-box__content__email
              = f.email_field :email, class: 'input-default', autocomplete: "email", placeholder: '  メールアドレス'
            .login-box__content__password
              = f.password_field :password, class: 'input-default', autocomplete: "current-password", placeholder: '  パスワード'
            .login-box__content__btn
              = f.submit "ログイン", class: "login__btn" 
                    
          .forgetpassword-user
            = link_to "パスワードをお忘れの方", url = "#", class: 'register-user' 
  .bottom
    %ul
      %li 
        = link_to 'プライバシーポリシー' , url = "#" 
      %li
        = link_to 'FURIMA' , url = "#" 
      %br/ 
      %li
        = link_to '特定商取引に関する表記' , url = "#" 
    .bottom__logo
      = link_to image_tag("/material/logo/logo-white.png", with: "100", class: "logo-white"), root_path 
      %p
        © FURIMA

