.item__post
  .item__post__header
    =link_to image_tag("/images/logo.png", width: "185", class: "item__post__header__logo"),  items_path
  .item__post__container
    =form_with(model: @item ,local:true) do |f|
      .item__post__container__first
        %h2.item__post__container__first__h
          出品画像
          %span>必須
        %p.item__post__container__first__p
          最大10枚までアップロードできます
        .item-images__update-box
          .preview__image
          - @item.item_images.each do |item_image|
            .preview-box
              .upper-box
                = image_tag image.image.url, width: "112", height: "112", alt: "preview"
              .lower-box
                .update-box
                  %label.edit-btn 編集
                .delete-box
                  .delete-btn
                    %span 削除
          .preview__label 
            =f.label :"images_attributes_#{@item.item_images.length}_image", class: "label-box", id: "label-box--#{@item.item_images.length}" do
              .select__image__text
              ドラッグアンドドロップ
              %br   
              またはクリックしてファイルをアップロード
          .hidden-content
            =f.fields_for :item_images do |i|
              =i.file_field :image, class: "hidden-field"
              =i.check_box:_destroy, class: "hidden-checkbox"
            - @item.item_images.length.upto(4) do |i|
              %input{name: "item[images_attributes][#{i}][image]", id: "item_images_attributes_#{i}_image", class:"hidden-field", type:"file"}
          
      .item__post__container__second
        %h2.item__post__container__second__h
          商品名
          %span>必須
        .item__post__container__second__nameform
          .input__name
            =f.text_field :name, placeholder: "40文字まで", class: "input__name",size: "40x25"
        %h2.item__post__container__second__h
          商品の説明
          %span>必須
        .item__post__container__second__textform
          .input__text
            =f.text_area :description, placeholder:text_placeholder , class: "input__textarea"
      .item__post__container__third
        %h1.item__post__container__third__h1
          商品の詳細

        .item__post__container__third__category
          %h2.item__post__container__third__category__h
            カテゴリー
            %span>必須        
          .item__post__container__third__categoryform
            .input__category1
              = f.select :category, @category_parent_array, {} , class: "input__category"

 
        %h2.item__post__container__third__h2
          ブランド
          %span>任意
        .item__post__container__third__brandform
          .input__brand
            =f.text_field :name, placeholder: "例）シャネル", class: "input__brand",size: "40x25"
        %h2.item__post__container__third__h
          商品の状態
          %span>必須      
        .item__post__container__third__statusform
          .input__status
            = f.select :status, [ ["選択してください",0],["新品、未使用",1], ["未使用に近い", 2], ["目立った傷や汚れ無し", 3 ] ,["やや傷や汚れ有り", 4], ["傷や汚れ有り", 5], ["全体的に状態が悪い", 6] ], {} , class: "input__status"
      .item__post__container__delivery
        %h1.item__post__container__delivery__h1
          配送について
        %h2.item__post__container__delivery__h
          配送料の負担
          %span>必須
        .item__post__container__delivery__postageform
          .input__postage
            =f.select :postage, [ ["選択してください",0],["送料込み(出品者負担)",1], ["着払い(購入者負担)", 2]], {},class:"input__postage"   
        %h2.item__post__container__delivery__h
          発送元の地域
          %span>必須
        .item__post__container__delivery__prefectureform
          .input__prefecture
            =f.select :prefecture, [ ["選択してください",0],["北海道",1], ["青森県", 2], ["岩手県", 3 ] ,["宮城県", 4], ["秋田県", 5], ["山形県", 6] ], {} ,class:"input__prefecture"
        %h2.item__post__container__delivery__h
          発送までの日数
          %span>必須
        .item__post__container__delivery__dayform
          .input__day
            =f.select :day, [["選択してください",0], ["1~2日で発送",1], ["2~3日で発送", 2], ["4~7日で発送", 3 ]], {} ,class:"input__day"      
      .item__post__container__price
        %h1.item__post__container__price__h1
          価格(¥300~9,999,999)
        .item__post__container__price__box
          %h2.item__post__container__price__box__h
            販売価格
            %span>必須
          .item__post__container__price__box__right
            %h2.item__post__container__price__box__right__h
              ¥            
            .item__post__container__price__box__right__form
              .input__price
                =f.number_field :price, placeholder: "0", class:"input__price", min: 0, max:9999999
        %h2.item__post__container__price__h2
          販売手数料  (10%)
        %h3.item__post__container__price__h3
          販売利益
        .item__post__container__price__btn
          .item__post__container__price__btn--red
            .input__submit
              =f.submit "変更する",class:"input__submit"
          .item__post__container__price__btn--gray
            =link_to "キャンセル", new_item_path,class:".item__post__container__price__btn--gray"
       
  .botttom__footer.single-footer
    %ul
      %li 
        = link_to 'プライバシーポリシー' , url = "#" 
      %li
        = link_to 'FURIMA' , url = "#" 
      %li
        = link_to '特定商取引に関する表記' , url = "#" 
    .single-footer-logo
      = link_to image_tag("/material/logo/logo-white.png", with: "185", class: "logo-white"), root_path 
      %p.newitems-haml
        © FURIMA

