.item__post
  .item__post__header
    =link_to image_tag("/images/logo.png", width: "185", class: "item__post__header__logo"),  items_path
    =render "layouts/flash"
  .item__post__container
    =form_with(model: @item, local: true) do |f|
      .item__post__container__first
        %h2.item__post__container__first__h
          出品画像
          %span>必須
        %p.item__post__container__first__p
          最大5枚までアップロードできます
        .item-images__update-box
          .prev-content
          .label-content
            %label{for: "item_item_images_attributes_0_image", class: "label-box", id: "label-box--0"}
              %pre.label-box__text-visible クリックしてファイルをアップロード
          .hidden-content
            =f.fields_for :item_images do |i|
              =i.file_field :image, class: "hidden-field"
              %input{class:"hidden-field", type: "file", name: "item[item_images_attributes][1][image]", id: "item_images_attributes_1_image" }
              %input{class:"hidden-field", type: "file", name: "item[item_images_attributes][2][image]", id: "item_images_attributes_2_image" }
              %input{class:"hidden-field", type: "file", name: "item[item_images_attributes][3][image]", id: "item_images_attributes_3_image" }
              %input{class:"hidden-field", type: "file", name: "item[item_images_attributes][4][image]", id: "item_images_attributes_4_image" }
      .item__post__container__second
        %h2.item__post__container__second__h
          商品名
          %span>必須
        .item__post__container__second__nameform
          .input__name
            =f.text_field :name, placeholder: "40文字まで", class: "input__name",size: "40x25"
        %h2.item__post__container__second__h
          商品の説明
          %span>必須
        .item__post__container__second__textform
          .input__text
            =f.text_area :description, placeholder:text_placeholder , class: "input__textarea"
      .item__post__container__third
        %h1.item__post__container__third__h1
          商品の詳細
        .item__post__container__third__category
          %h2.item__post__container__third__category__h
            カテゴリー
            %span>必須
          .item__post__container__third__categoryform
            = f.collection_select :category_id ,@categories, :id, :name, {include_blank: "選択して下さい", selected: "選択して下さい"}, {class: "input__category", id: "item_category"}
        %h2.item__post__container__third__h2
          ブランド
          %span>任意
        .item__post__container__third__brandform
          .input__brand
            =f.text_field :brand, placeholder: "例）シャネル", class: "input__brand",size: "40x25"
        %h2.item__post__container__third__h
          商品の状態
          %span>必須
        .item__post__container__third__statusform
          .input__status
            = f.select :status, [ ["新品、未使用",1], ["未使用に近い", 2], ["目立った傷や汚れ無し", 3] ,["やや傷や汚れ有り", 4], ["傷や汚れ有り", 5], ["全体的に状態が悪い", 6] ], {prompt: '選択して下さい'} , class: "input__status"
      .item__post__container__delivery
        %h1.item__post__container__delivery__h1
          配送について
        %h2.item__post__container__delivery__h
          配送料の負担
          %span>必須
        .item__post__container__delivery__postageform
          .input__postage
            =f.collection_select :postage_id,Postage.all,:id,:name,{prompt: '選択してください'},class:"input__postage"
        %h2.item__post__container__delivery__h
          発送元の地域
          %span>必須
        .item__post__container__delivery__prefectureform
          .input__prefecture
            =f.collection_select :prefecture_id, Prefecture.all,:id,:name, {prompt: '選択してください'} ,class:"input__prefecture"
        %h2.item__post__container__delivery__h
          発送までの日数
          %span>必須
        .item__post__container__delivery__dayform
          .input__day
            =f.collection_select :day_id, Day.all,:id,:name, {prompt: '選択してください'} ,class:"input__day"
      .item__post__container__price
        %h1.item__post__container__price__h1
          価格(¥300~9,999,999)
        .item__post__container__price__box
          %h2.item__post__container__price__box__h
            販売価格
            %span>必須
          .item__post__container__price__box__right
            %h2.item__post__container__price__box__right__h
              ¥
            .item__post__container__price__box__right__form
              .input__price
                =f.number_field :price, placeholder: "0", class:"input__price", min: 0, max:9999999
        .item__post__container__price__btn
          .item__post__container__price__btn--red
            .input__submit
              =f.submit "出品する",class:"input__submit"
          .item__post__container__price__btn--gray
            =link_to "もどる","#",class:".item__post__container__price__btn--gray"
        %p.item__post__container__price__p
          禁止されている行為および出品物を必ず確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。また、また、出品をもちまして加盟店規約に同意したことになります。
  .botttom__footer.single-footer
    %ul
      %li 
        = link_to 'プライバシーポリシー' , url = "#" 
      %li
        = link_to 'FURIMA' , url = "#" 
      %li
        = link_to '特定商取引に関する表記' , url = "#" 
    .single-footer-logo
      = link_to image_tag("/material/logo/logo-white.png", with: "185", class: "logo-white"), root_path 
      %p.newitems-haml
        © FURIMA
