
.header
  .header__box
    .header__box__top
      .header__box__top__logo
        = link_to image_tag("/images/logo.png", width: "100", class: "header__logo")
      .header__box__top__input
        = form_with(url: "#", local: true, method: :get, class: "search-form") do |form|
          .header__box__top__input__search
            = form.text_field :name, placeholder: "キーワードから探す", class: "search-input"
            %button{type: "submit"}
              .header__box__top__input__search__btn
                = image_tag("/images/icon-search 1.png", width: "25", height: "25")
    .header__box__bottom
      %ul.header__box__bottom__categorie
        %li= link_to "カテゴリー", "#", class: "header__box__bottom__categorie__list"
        %li= link_to "ブランド", "#", class: "header__box__bottom__categorie__list"
      %ul.header__box__bottom__user
        - if user_signed_in?
          %li= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__box__bottom__user__btn"
          %li= link_to "マイページ", "#", class: "header__box__bottom__user__btn"
        - else  
          %li= link_to "ログイン", new_user_session_path, class: "header__box__bottom__user__btn"
          %li= link_to "新規会員登録", new_user_registration_path, class: "header__box__bottom__user__btn"     



  .winding
    %ul.road
      %li.listone
        = link_to  "#", class: "branch" do
          FURIMA
      %li.listone
        %i.fa.fa-angle-right
      %li.listone
        = link_to  "#", class: "branch" do
          メンズ
      %li.listone
        %i.fa.fa-angle-right
      %li.listone
        = link_to  "#", class: "branch" do
          ジャッケット
      %li.listone
        %i.fa.fa-angle-right
      %li.listone
        = link_to  "#", class: "branch" do
          ノーカラージャケット
      %li.listone
        %i.fa.fa-angle-right
      %li.listone
        = link_to  "#", class: "branch" do
          product2
      

  .main
    .showmain
      .contentright
        .topcontent
          .itembox
            %h2.itembox__name
              = @item.name
              .big-image
                = image_tag @item.item_images[0].image.url,height: '300', width: '300'
            .itembox__body
              - @item.item_images.each do |item_image|
                %ul
                  %li
                    = image_tag item_image.image.url,height: '100', width: '100'
                  -# %li.im2
                  -#   = image_tag item_image.image.url,height: '100', width: '100'
                -# %ul.big__image
                  -# %li.all
                    -# = image_tag item_image.image.url,height: '200', width: '200'
                    -# %ul.samall__image
                      -# %li
                        -# = image_tag '/images/icon-03.png', alt: 'image', height: '100', width: '100', class: 'image-second'
                      -# %li
                        -# = image_tag '/images/pict-reason-03.jpg', alt: 'image', height: '100', width: '100', class: 'image-third'
                      -# %li
                        -# = image_tag '/images/pict-reason-02.jpg', alt: 'image', height: '100', width: '100', class: 'image-four'

            .itembox__price
              %span 
                ¥
                = @item.price
            .itemBox__detail
              %span
                (税込み)
              %span
                送料込み
            .itemsentence
              = @item.description
            %table.table{border: "1",  width: "500", height:"500"}
              %tr
                %td.text{bgcolor:"#eee", width:"30%", align:"center"} 出品者
                %td.right-text{width:"70%"} 
                  = @item.user.nickname
              %tr
                %td.text{bgcolor:"#eee", align:"center"} カテゴリー
                %td.text-link{width:"70%"} 
                  = link_to @item.category.name, "#", class: "prefecture"
              %tr
                %td.text{bgcolor:"#eee", align:"center"} ブランド
                %td.right-text 
                  = @item.brand
              %tr
                %td.text{bgcolor:"#eee", align:"center"} 商品のサイズ	
                %td.right-text 
                  = @item.size
              %tr
                %td.text{bgcolor:"#eee", align:"center"} 商品の状態	
                %td.right-text 
                  = @item.status
              %tr
                %td.text{bgcolor:"#eee", align:"center"} 配送料の負担
                %td.right-text 
                  = @item.postage.name
              %tr
                %td.text{bgcolor: "#eee", align: "center"} 発送元の地域
                %td.text-link
                  = link_to @item.prefecture.name, "#", class: "prefecture"
              %tr
                %td.text{bgcolor: "#eee", align:"center"} 発送日の目安
                %td.right-text
                  = @item.day.name

            .optionalarea
              %ul
                %li#likeBtn.optionalBtn.likeBtn
                  %i.fa.fa-star
                  お気に入り 0
              %ul.optional
                %li.optionalBtn
                  %i.fa.fa-flag
                    = link_to "不適切な商品の通報", "#", class: "alert"
          .commentbox
            %form
              %textarea{placeholder:"ご要望をお書きください", class: "infomation"}
            %p.notice
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %button.writeBtn{name: "button", type: "submit"}
              %i.fa.fa-comment

              コメントする
            - if user_signed_in? && current_user.id == @item.user_id
              = link_to "編集ボタン", edit_item_path(@item.id), class: 'edit-btn'
              = link_to "削除ボタン", item_path(@item.id), method: :delete, data: {confirm: "削除しますか？"}, class: 'destroy-btn'
            - else
              = link_to "購入ボタン", buy_item_path, class: 'buy-btn'


              

        %ul.links
          %li
            = link_to  "#", class: "gain" do
              %i.fa.fa-angle-left
              %span
              前の商品
          %li
            = link_to  "#", class: "back" do
              %span
              後ろの商品
              %i.fa.fa-angle-right    
        .relateditems
          = link_to "メンズをもっと見る", "#", class: "mens-more"

  %aside.app-google
    .inner
      %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
      %p.inner__text  今すぐ無料ダウンロード！
      .inner__icon
        = link_to image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", width: "180", class: "main__bottom__box__btn__logo"), "#"
        = link_to image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", width: "180", class: "main__bottom__box__btn__logo"), "#"

  

.footer
  .footer__box
    .footer__box__info
      %h2 FURIMAについて
      = link_to "会社概要（運営会社）", "#", class: "footer__box__info__link"
      = link_to "プライバシーポリシー", "#", class: "footer__box__info__link"
      = link_to "FURIMA利用規約", "#", class: "footer__box__info__link"
      = link_to "ポイントに関する特約", "#", class: "footer__box__info__link"
    .content
      %h2 FURIMAを見る
      = link_to "カテゴリー一覧", "#", class: "footer__box__info__link"
      = link_to "ブランド一覧", "#", class: "footer__box__info__link"
    .footer__box__info
      %h2 ヘルプ＆ガイド
      = link_to "FURIMAガイド", "#", class: "footer__box__info__link"
      = link_to "FURIMAロゴ利用ガイドライン", "#", class: "footer__box__info__link"
      = link_to "お知らせ", "#", class: "footer__box__info__link"
  = link_to image_tag("/images/logo-white.png", width: "160", class: "footer__logo"), "#"
  %p ©︎FURIMA

.icon
  %p 出品する
  = link_to image_tag("/images/icon_camera.png", width: "52", height: "52"),new_item_path

