.header
  .header__box
    .header__box__top
      .header__box__top__logo
        = link_to image_tag("/images/logo.png", width: "100", class: "header__logo"), root_path
      .header__box__top__input
        = form_with(url: "#", local: true, method: :get, class: "search-form") do |form|
          .header__box__top__input__search
            = form.text_field :name, placeholder: "キーワードから探す", class: "search-input"
            %button{type: "submit"}
              .header__box__top__input__search__btn
                = image_tag("/images/icon-search 1.png", width: "25", height: "25")
    .header__box__bottom
      %ul.header__box__bottom__categorie
        %li= link_to "カテゴリー", "#", class: "header__box__bottom__categorie__list"
        %li= link_to "ブランド", "#", class: "header__box__bottom__categorie__list"
      %ul.header__box__bottom__user
        - if user_signed_in?
          %li= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__box__bottom__user__btn"
          %li= link_to "マイページ", user_path(current_user.id), class: "header__box__bottom__user__btn"
        - else  
          %li= link_to "ログイン", new_user_session_path, class: "header__box__bottom__user__btn"
          %li= link_to "新規会員登録", new_user_registration_path, class: "header__box__bottom__user__btn"
.user__main
  .user__main__content
    .user__main__content__left
      .user__main__content__left__nav
        %ul.nav__list
          %li
            = link_to "マイページ", user_path(current_user.id), class: "activee" 
          %li
            = link_to "お知らせ", "#", class: "nav__list__link"
          %li
            = link_to "やることリスト", "#", class: "nav__list__link"
          %li
            = link_to "いいね！一覧", "#", class: "nav__list__link"
          %li
            = link_to "出品する", "#", class: "nav__list__link"
          %li
            = link_to "出品した商品 - 出品中", "#", class: "nav__list__link"
          %li
            = link_to "出品した商品 - 取引中", "#", class: "nav__list__link"
          %li
            = link_to "出品した商品 - 売却済み", "#", class: "nav__list__link"
          %li
            = link_to "購入した商品 - 取引中", "#", class: "nav__list__link"
          %li
            = link_to "購入した商品 - 過去の取引", "#", class: "nav__list__link"
          %li
            = link_to "ニュース一覧", "#", class: "nav__list__link"
          %li
            = link_to "評価一覧", "#", class: "nav__list__link"
          %li
            = link_to "ガイド", "#", class: "nav__list__link"
          %li
            = link_to "お問い合わせ", "#", class: "nav__list__link"
        %h3.nav__head メルペイ
        %ul.nav__list
          %li
            = link_to "売り上げ・振込申請", "#", class: "nav__list__link"
          %li
            = link_to "ポイント", "#", class: "nav__list__link"
        %h3.nav__head 設定
        %ul.nav__list
          %li
            = link_to "プロフィール", "#", class: "nav__list__link"
          %li
            = link_to "発送元・お届け先住所変更", "#", class: "nav__list__link"
          %li
            = link_to "支払い方法", "#", class: "nav__list__link"
          %li
            = link_to "メール/パスワード", "#", class: "nav__list__link"
          %li
            = link_to "本人情報", "#", class: "nav__list__link"
          %li
            = link_to "電話番号の確認", "#", class: "nav__list__link"
          %li
            = link_to "ログアウト", logout_users_path, class: "nav__list__link"
    .main__content
      .main__content__container
        %h2.main__content__container__head 支払い方法
        .payment__main
          .payment__main__list
            .payment__main__list__content
              %h3.payment__main__list__content__head クレジットカード一覧
          .card__payment__list
            %form.card__payment__content
            .card__list
              .card__list__picture  
            .card__number 
              = "**** **** **** " + @default_card_information.last4
            .expire__date 
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
            = form_tag(delete_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
              %input{ type: "hidden", name: "card_id", value: "" }
              %button.delete__button 削除する
          .how__not__regist
            = link_to  "支払い方法について", "#", class: "how__not__regist__list"

.footer
  .footer__box
    .footer__box__info
      %h2 FURIMAについて
      = link_to "会社概要（運営会社）", "#", class: "footer__box__info__link"
      = link_to "プライバシーポリシー", "#", class: "footer__box__info__link"
      = link_to "FURIMA利用規約", "#", class: "footer__box__info__link"
      = link_to "ポイントに関する特約", "#", class: "footer__box__info__link"
    .footer__box__info
      %h2 FURIMAを見る
      = link_to "カテゴリー一覧", "#", class: "footer__box__info__link"
      = link_to "ブランド一覧", "#", class: "footer__box__info__link"
    .footer__box__info
      %h2 ヘルプ＆ガイド
      = link_to "FURIMAガイド", "#", class: "footer__box__info__link"
      = link_to "FURIMAロゴ利用ガイドライン", "#", class: "footer__box__info__link"
      = link_to "お知らせ", "#", class: "footer__box__info__link"
  = link_to image_tag("/images/logo-white.png", width: "160", class: "footer__logo"), "#"
  %p ©︎FURIMA

.icon
  %p 出品する
  = link_to image_tag("/images/icon_camera.png", width: "52", height: "52"),new_item_path
